.progress-bar {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
  justify-content: center;
}

.step {
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  margin-right: 40px;
  position: relative;

  &:last-child::after {
    display: none;
  }
}

.step::after {
  position: absolute;
  content: '';
  width: 40px;
  height: 1px;
  border-top: 1px solid lightgray;
  left: 100%;
  top: 50%;
}

.prev {
  color: black;
  background-color: #50c878;

  &::after {
    border-color: #50c878;
  }
}

.current {
  background-color: black;
  color: white;
}

.next {
  color: slategray;
  background-color: lightgray;
}
