.progress-bar {
  display: flex;
  flex-direction: row;
}

.step {
  padding: 20px;
  border-radius: 5px;
}

.prev {
  color: black;
  background-color: lawngreen;
}

.current {
  background-color: black;
  color: white;
}

.next {
  color: black;
  background-color: gray;
}
