.top-nav {
  background-color: #2f3f4f;
  color: white;
}

.container {
  background-color: black;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1024px;
  padding: 20px;
  text-align: left;
  width: 100%;
}

.header {
  font-size: 24px;
  font-weight: bolder;
}
