.done-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.done-check {
  color: green;
  height: 16px;
  width: 36px;
  border-left: 10px solid;
  border-bottom: 10px solid;

  transform: rotate(-45deg);
}

.done-message {
  color: green;
}
