.main {
  background-color: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1024px;
  min-height: 100vh;
  padding: 20px 40px;
  width: 100%;

  h2 {
    font-family: cursive;
    text-align: left;
  }
}
